<app-parent-child [dadosFilho] = "dadosPai"></app-parent-child>

<br> <br> <br>
<h3><b>EXPLICAÇÃO VISUAL DO QUE FOI FEITO ACIMA</b></h3>
<hr>
<div>
  <p style="text-align: center;" ><img src="/assets/1.png" width="50%" height="50%" alt=""></p>
   <br>
  <p style="text-align: center;" > 🔽 </p>  <br>
  <p style="text-align: center;" ><img src="/assets/2.png" width="50%" height="50%" alt=""></p>
  <p style="text-align: center;" > 🔽 </p>  <br>
  <p style="text-align: center;" ><img src="/assets/3.png" width="50%" height="50%" alt=""></p>
  <p style="text-align: center;" > 🔽 </p>  <br>
  <p style="text-align: center;" ><img src="/assets/4.png" width="50%" height="50%" alt=""></p>
</div>


